body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header, .footer{
    background-color: #1f2937;
    color: #f9faf8;
    padding: 0 20%;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left h1{
    font-size: 24px;
    font-weight: bold;
}

.right ul{
    list-style-type: none;
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    gap: 20px;
}

a{
    text-decoration: none;
    color: #f9faf8;
}

.header-info{
    display: flex;
    padding: 60px 0;
    gap: 20px;
}

.info-left{
    flex: 1 1 auto;
}

.info-left h2{
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.info-left p{
    font-size: 18px;
    margin: 0 0 16px 0 ;
}

.header-info img{
    min-width: 350px;
    max-height: 280px;
}

button{
    background-color: #3882f6;
    border-radius: 5px;
    border: none;
    color: #f9faf8;
    font-weight: 600;
    padding: 7px 20px;
}

.main{
    flex: 1;
    /* padding: 0 20%; */
}

.main h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.main-random-info{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 60px;
    gap: 60px;
    color: #1f2937;
}

.image-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
}

.image-info img{
    border: 4px #3882f6 solid;
    border-radius: 10px;
}

.main-quote{
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 100;
    padding: 80px 25%;
}

.main-quote p{
    display: flex;
    flex-direction: column;
    color: #1f2937;
}

.quoted{
    font-weight: 600;
    align-self: flex-end;
}

.main-modal{
    margin: 80px 18%;
    padding: 30px 60px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;

}

.main-modal p{
    padding: 0;
    margin: 0;
}

.main-modal .bold{
    font-weight: 800;
}

.main-modal button{
    border: 2px solid #f9faf8;
}